:root{
    --fondo:#bc3d8b;
    --primario:#81ea9d;
    --fuente:black;
    --fuente-claro:#e89187;
  

}

body{
    background-color: var(--fondo) ;
    margin: 0;
    padding: 0;

}

main{  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

.contenedor{
    width: 315px;
    height: 160px;
    background-color: var(--fuente-claro);
    border-radius: 12px;
    border: 12px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    
}

.contenedor a {
    color: var(--fuente);
    font-size: 22px;
    text-decoration: none;
}

.contenedor:hover{
    box-shadow: 5px 5px 50px var(--fuente);
}

.contenedor a img{
    width: 100%;
    border-radius: 8px;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section img{
    width: 375px;
    border-radius: 8px;
}

h2{
    color: var(--fuente);
}

form{
    color: var(--fuente);
    font-size: 20px;
}

input{
    width: 100px;
    height: 50px;
    border: 1px solid var(--fuente);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px;
}

#res-AnualidadesAdelantadas{
    width: 120px;
    height: 50px;
    border: 1px solid var(--fuente);
    border-radius: 8px;
    font-size: 20px;
    padding-left: 17px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: var(--primario);
    color: var(--fuente);
}

input:focus{
    outline: 5px solid var(--primario);
    border-radius: 8px;   
}

.boton-regresar{
    display: block;
    width: 120px;
    height: 50px;
    background-color: var(--fuente-claro);
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    color: var(--fuente);
    text-decoration: none;
}

.boton-regresar:hover{
    box-shadow: 5px 5px 50px var(--fuente);

}